@import '../variable';
.button{
    font-size: 16px;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px auto;
    width: 300px;
    height: 36px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid $primary;
    background-color:$primary;
    color:#FFF;
}
