.component_input{
  max-width: 500px;
  /*border: 1px solid red;*/
  margin: 10px auto;
}
.text{
  width: 24%;
  margin-right: 1%;
}
.input{
    box-sizing: border-box;
    font-size: 14px;
    padding: 0 4px;
    display: inline-block;
    margin: 0px auto;
    width: 75%;
    min-height: 36px;
    line-height: 36px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    -webkit-tap-highlight-color: transparent;
    background-color: white;
    outline: none;
    &:-webkit-autofill{
        background-color:#FFF;
    }
}
