@import './variates/color';
.fix-header{
  .am-navbar{
    position: fixed;
    top:0;
    width: 100%;
  }
}

.am-tab-bar-bar{
  position: fixed;
  bottom: 0;
  width: 100%
}

#chat{
  position: fixed;
  bottom:0;
  width: 100%;
}


